@model IcerikYonetimSistemi.VarlikKatmani.Formlar

@{
    ViewBag.Title = "FormSil";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="container">
	<h4>Gelen Form</h4>
	<hr />
	<h3>Form Silinecek. Silmek istediğinizden emin misiniz?</h3><br />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.AdSoyad)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdSoyad)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EPosta)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EPosta)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MesajIcerigi)
		</dt>

		<dd>
			@Html.Raw(Model.MesajIcerigi)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Sil" class="btn btn-default" /> |
			@Html.ActionLink("Listeye Dön", "GelenFormlar")
		</div>
	}
</div>
