@model IcerikYonetimSistemi.VarlikKatmani.SayfaIcerik

@{
    ViewBag.Title = "SayfaIcerikSil";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="container">
	<h4>Sayfa Icerik</h4>
	<hr />
	<p>Sayfa silinecek. Silmek istediğinizden emin misiniz?</p>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.OlusturmaTarihi)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OlusturmaTarihi)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DuzenlemeTarihi)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DuzenlemeTarihi)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Ikon)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Ikon)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Etkin)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Etkin)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Baslik)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Baslik)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Detay)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Detay)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Gorsel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Gorsel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Yorum)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Yorum)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Onayla" class="btn btn-default" /> |
		</div>
	}
</div>
