@model QRWebCMS.Web.Models.Kayit
@{
    ViewBag.Title = "Ön Kayıt Formu";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Ön Kayıt Detayı</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Anasayfa">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Panel</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Formlar">Ön Kayıt Formları</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Ön Kayıt Detayı</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Form</h5>
    </div>
    <div class="card-block table-border-style">
        <dl class="dl-horizontal">
            <dt>
                T.C. Kimlik No.
            </dt>

            <dd>
                @(Model.TCKNO)
            </dd>

            <dt>
                Ad Soyad
            </dt>

            <dd>
                @(Model.Ad + " " + Model.Soyad)
            </dd>

            <dt>
                Cinsiyet/Kan Grubu
            </dt>

            <dd>
                @(Model.Cinsiyet + " - " + Model.KanGrubu)
            </dd>

            <dt>
                Okul/Sınıf
            </dt>

            <dd>
                @(Model.Okul + "/" + Model.Sinif)
            </dd>

            <dt>
                Nüfus İl/İkamet
            </dt>

            <dd>
                @(Model.NufusIl + "/" + Model.AileIkamet)
            </dd>

            <dt>
                Doğum Yeri/Yılı
            </dt>

            <dd>
                @(Model.DogumYeri + "/" + Model.DogumYili)
            </dd>

            <dt>
                Baba Adı/Anne Adı
            </dt>

            <dd>
                @(Model.BabaAdi + "/" + Model.AnneAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EPosta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EPosta)
            </dd>

            <dt>
                Telefon - Cep Telefonu - Yakın Telefonu
            </dt>

            <dd>
                @(Model.Telefon + " - " + Model.CepTelefon + " - " + Model.YakinTelefon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kurs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kurs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Secenekler)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Secenekler)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KayitGonderimTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KayitGonderimTarihi)
            </dd>
        </dl>
        @Html.ActionLink("Listeye Dön", "OnKayitFormlari", null, new { @class = "btn btn-primary btn-block" })
    </div>
</div>

