@model List<KursProgrami.Model.Egitmen>
@{
    ViewBag.Title = "Eğitmenler";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Eğitmenler</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Panel/Anasayfa">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Kişiler</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Eğitmenler</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5>Eğitmen Listesi</h5>
        <a href="~/Kisiler/EgitmenEkle" class="btn btn-primary btn-sm waves-effect"><i class="fa fa-plus"></i> Eğitmen Ekle</a>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>T.C. Kimlik No.</th>
                        <th>Ad Soyad</th>
                        <th>Telefon</th>
                        <th>Özel Kod</th>
                        <th>Etkin</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Etkin)
                        {
                            <tr>
                                <td>@item.TCKNO</td>
                                <td>@(item.Ad + " " + item.Soyad)</td>
                                <td>@item.Telefon</td>
                                <td>@item.OzelKod</td>
                                <td>@(item.Etkin ? "Etkin" : "Etkin Değil")</td>
                                <td>
                                    <a href="~/Kisiler/EgitmenDuzenle/@item.EgitmenID" class="btn btn-inverse btn-sm waves-effect"><i class="fa fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger btn-sm waves-effect" data-toggle="modal" data-target="#egitmenSil"><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="table-danger">
                                <td>@item.TCKNO</td>
                                <td>@(item.Ad + " " + item.Soyad)</td>
                                <td>@item.Telefon</td>
                                <td>@item.OzelKod</td>
                                <td>@(item.Etkin ? "Etkin" : "Etkin Değil")</td>
                                <td>
                                    <a href="~/Kisiler/EgitmenDuzenle/@item.EgitmenID" class="btn btn-inverse btn-sm waves-effect"><i class="fa fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger btn-sm waves-effect" data-toggle="modal" data-target="#egitmenSil"><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
