@model QRWebCMS.Web.Models.UrunKategori
@{
    ViewBag.Title = "Ürün Kategori Düzenle";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Ürün Kategori Düzenle</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Anasayfa">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Kategoriler</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Ürün Kategori Düzenle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Ürün Kategori Düzenle</h5>
    </div>
    <div class="card-block">
        @using (Html.BeginForm("UrunKategoriDuzenle", "Kategoriler", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", placeholder = "Başlık" } })
                        @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Etkin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Etkin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>