@model QRWebCMS.Web.Models.EkModel.SayfaListeMV
@{
    ViewBag.Title = "Anasayfa";
    QRWebCMS.Web.Models.GenelAyarlar ga = QRWebCMS.Web.App_Start.Tanimlamalar.genelAyarlarIslemleri.Bul("1 = 1");
}
@try
{
    foreach (var item in Model.SayfaListe)
    {
        if (item.NitelikTablosu == "Icerik")
        {
            QRWebCMS.Web.Models.Icerik icerik = Model.Icerikler.Find(x => x.IcerikID == item.NitelikID);

            if (icerik != null)
            {
                if (icerik.EkAlan1 == "OzelIcerik" || icerik.EkAlan1 == "Anasayfa")
                {
                    @Html.Raw(icerik.EkAlan2)
                }
                else if ((icerik.EkAlan1 == null || icerik.EkAlan1 == "") && (icerik.EkAlan2 == null || icerik.EkAlan2 == ""))
                {
                    QRWebCMS.Web.Models.Icerik icerikTek = Model.Icerikler.Find(x => x.IcerikID == item.NitelikID);
                    <div class="container">
                        <div class="row">
                            @if (icerikTek != null)
                            {
                                if (icerikTek.Gorsel == null || icerikTek.Gorsel == "")
                                {
                                    @Html.Raw(icerikTek.Detay)
                                }
                                else
                                {
                                    <div class="text-center">
                                        <img src="../../@icerikTek.Gorsel" style="width: 100%" />
                                    </div>
                                    <br /><br />
                                    @Html.Raw(icerikTek.Detay)
                                }

                            }
                        </div>
                    </div>
                }
                else if (icerik.EkAlan2 == "Gosterim")
                {
                    List<QRWebCMS.Web.Models.Icerik> icerikler = QRWebCMS.Web.App_Start.Tanimlamalar.icerikIslemleri.VeriGetir("EkAlan1 = 'Haber'");
                    if (icerikler.Count > 0)
                    {
                        <div class="container" style="padding-top:30px">
                            <div class="row">
                                <div class="col">
                                    <div class="blog-posts">
                                        <div class="overflow-hidden mb-2">
                                            <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200"><strong class="font-weight-extra-bold">Hizmetlerimiz</strong></h2>
                                        </div>
                                        <div class="row">
                                            @foreach (var icerikBlog in icerikler)
                                            {
                                                <div class="col-md-4 col-lg-4">
                                                    <article class="post post-medium border-0 pb-0 mb-5">
                                                        <div class="post-image">
                                                            <a href="~/Sayfa/Icerik/@icerikBlog.IcerikID">
                                                                <img src="../../../@icerikBlog.Gorsel" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="post-content">
                                                            <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2">
                                                                <a href="~/Sayfa/Icerik/@icerikBlog.IcerikID">
                                                                    @icerikBlog.Baslik
                                                                </a>
                                                            </h2>
                                                            <p> @icerikBlog.EkAlan2 </p>
                                                            <div class="post-meta">
                                                                <span class="d-block mt-2"><a href="~/Sayfa/Icerik/@icerikBlog.IcerikID" class="btn btn-xs btn-light text-1 text-uppercase">Devamını Oku</a></span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                                Model.Icerikler.Remove(icerikBlog);
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
        if (item.NitelikTablosu == "SlideKategori")
        {
            QRWebCMS.Web.Models.SlideKategori slideKategorisi = Model.Slidelar.Find(x => x.SlideKategoriID == item.NitelikID);
            List<QRWebCMS.Web.Models.Slide> slidelar = QRWebCMS.Web.App_Start.Tanimlamalar.slideIslemleri.VeriGetir("SlideKategoriID = " + slideKategorisi.SlideKategoriID);

            if (slidelar.Count > 0)
            {
                if (slideKategorisi.Tur == "Slider")
                {
                    <div class="container">
                        <div class="z-index-1 appear-animation" data-appear-animation="fadeInDownShorter" data-appear-animation-delay="500">
                            <div class="owl-carousel owl-theme full-width owl-loaded owl-drag owl-carousel-init m-0 mb-4" data-plugin-options="{'items': 1, 'loop': true, 'nav': true, 'dots': false, 'animateOut': 'fadeOut'}">
                                @foreach (var slide in slidelar)
                                {
                                    <div>
                                        <img src="../../@slide.Gorsel" class="img-fluid" alt="">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="home-intro" id="home-intro">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <p>Size Uygun Programı Ücretsiz Olarak Keşfetmek İçin Tıklayınız</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="get-started text-left text-lg-right">
                                        <a href="~/Ev/Demo" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Demo Talebi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else if (slideKategorisi.Tur == "Carousel")
                {
                    <div class="container">
                        @*<div class="row text-center mt-5 pb-5 mb-5">
                                <div class="owl-carousel owl-theme carousel-center-active-item mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                                    @foreach (var slide in slidelar)
                                    {
                                        <div>
                                            <img class="img-fluid" src="../../@slide.Gorsel" alt="">
                                        </div>
                                    }
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col">
                                <h4>@slideKategorisi.Baslik</h4>
                                <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options="{'items': @slidelar.Count, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                                    @foreach (var items in slidelar)
                                    {
                                        <div>
                                            <img alt="@items.Baslik" class="img-fluid rounded" src="../../../@items.Gorsel" style="width:50%; height:50%">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        if (item.NitelikTablosu == "GaleriKategori")
        {
            QRWebCMS.Web.Models.GaleriKategori galeriKategori = Model.Galeriler.Find(x => x.GaleriKategoriID == item.NitelikID);
            List<QRWebCMS.Web.Models.Galeri> galeriler = QRWebCMS.Web.App_Start.Tanimlamalar.galeriIslemleri.VeriGetir("GaleriKategoriID = " + galeriKategori.GaleriKategoriID);

            if (galeriler.Count > 0)
            {
                <div class="row">
                    <div class="col">
                        <div class="my-4 lightbox appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
                            <div class="owl-carousel owl-theme pb-3" data-plugin-options="{'items': 4, 'margin': 35, 'loop': false}">
                                @foreach (var galeri in galeriler)
                                {
                                    <div class="portfolio-item">
                                        <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="../../@galeri.Gorsel" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">@galeri.Baslik</span>
                                                </span>
                                                <span class="thumb-info-action">
                                                    <a href="../../@galeri.Gorsel" class="lightbox-portfolio">
                                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
                                                    </a>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr class="solid my-5">
                    </div>
                </div>
            }
        }
        if (item.NitelikTablosu == "UrunKategori")
        {
            QRWebCMS.Web.Models.UrunKategori urunKategori = Model.Urunler.Find(x => x.UrunKategoriID == item.NitelikID);
            List<QRWebCMS.Web.Models.Urun> urunler = QRWebCMS.Web.App_Start.Tanimlamalar.urunIslemleri.VeriGetir("Vitrin = 1 And UrunKategoriID = " + urunKategori.UrunKategoriID);

            <div class="row">
                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        @foreach (var urun in urunler)
                        {
                            <div class="col-12 col-sm-6 col-lg-3 product">
                                <span class="product-thumb-info border-0">
                                    <a href="~/Sayfa/UrunDetay/@urun.UrunID" class="add-to-cart-product bg-color-primary" style="color:white">
                                        <span class="text-uppercase text-1">Ürün Detayları</span>
                                    </a>
                                    <a href="~/Sayfa/UrunDetay/@urun.UrunID">
                                        <span class="product-thumb-info-image">
                                            <img alt="" class="img-fluid" src="../../@urun.Gorsel">
                                        </span>
                                    </a>
                                    <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                        <a href="~/Sayfa/UrunDetay/@urun.UrunID">
                                            <h4 class="text-4 text-primary">@urun.Baslik</h4>
                                            <span class="price">
                                                <span class="amount text-dark font-weight-semibold">@urun.Ucret TL</span>
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }

    if (ga.AnasayfaModal != null && ga.AnasayfaModal != "")
    {
        <div class="modal">
            @Html.Raw(ga.AnasayfaModal)
        </div>
    }
}
catch (Exception)
{
    <div class="container">
        <div class="row">
            <div class="col">
                Anasayfa
            </div>
        </div>
    </div>
}