@model QRWebCMS.Web.Models.Menu
@{
    ViewBag.Title = "Menü Düzenle";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Menü Düzenle</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Anasayfa">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Bileşenler</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Menü Düzenle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Menü Düzenle</h5>
    </div>
    <div class="card-block">
        @using (Html.BeginForm("MenuDuzenle", "Bilesenler", new { id = Model.MenuID }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", placeholder = "Sayfa Başlığı" } })
                        @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Ikon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <div class="input-group input-group-button">
                            @Html.EditorFor(model => model.Ikon, new { htmlAttributes = new { @class = "form-control", placeholder = "İkon" } })
                            <div class="input-group-append">
                                <a href="~/Yonetici/Bilesenler/Ikonlar" class="btn btn-secondary" target="_blank">Ikonlar</a>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Ikon, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Sayfa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.CheckBoxFor(model => model.Sayfa)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control", placeholder = "Link" } })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Dropdown, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.CheckBoxFor(model => model.Dropdown)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Etkin, new { @class = "js-single" })
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
                        <input type="submit" value="Onayla" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
