@model QRWebCMS.Web.Models.Slide
@{
    ViewBag.Title = "Slide Düzenle";
    var kategori = ViewData["Kategori"] as SelectList;
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">Slide Düzenle</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Anasayfa">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Bileşenler</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Slide Düzenle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Slide Düzenle</h5>
    </div>
    <div class="card-block">
        @using (Html.BeginForm("SlideDuzenle", "Bilesenler", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideKategoriID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SlideKategoriID, kategori, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", placeholder = "İçerik Başlığı" } })
                            @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gorsel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gorsel, new { htmlAttributes = new { @class = "form-control", placeholder = "Görsel" } })
                            @Html.ValidationMessageFor(model => model.Gorsel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Etkin, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
                        <input type="submit" value="Onayla" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
