@model IcerikYonetimSistemi.VarlikKatmani.Kullanici

@{
	ViewBag.Title = "KullaniciDuzenle";
	Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal container">
		<h4>Kullanici</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.KullaniciYetki, "Kullanici Yetkisi", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-12">
				@Html.DropDownList("KullaniciYetki", ViewData["kullaniciYetki"], htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.KullaniciYetki, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EPosta, htmlAttributes: new { @class = "control-label col-md-12" })
			<div class="col-md-12">
				@Html.EditorFor(model => model.EPosta, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.EPosta, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ProfilFotografi, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ProfilFotografi, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ProfilFotografi, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.KayitTarihi, htmlAttributes: new { @class = "control-label col-md-12" })
			<div class="col-md-12">
				@Html.EditorFor(model => model.KayitTarihi, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.KayitTarihi, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<div class="checkbox">
					@Html.EditorFor(model => model.Etkin)
					@Html.ValidationMessageFor(model => model.Etkin, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Kaydet" class="btn btn-default" />
			</div>
		</div>
		<div>
			@Html.ActionLink("Listeye Dön", "Kullanici")
		</div>
	</div>
}
