@model QRWebCMS.Web.Models.Icerik
@{
    ViewBag.Title = "İcerik Düzenle";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10">İçerik Düzenle</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Yonetici/Panel/Anasayfa">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Bileşenler</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">İçerik</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>İcerik Düzenle</h5>
    </div>
    <div class="card-block">
        @using (Html.BeginForm("IcerikDuzenle", "Bilesenler", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", placeholder = "İçerik Başlığı" } })
                        @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Detay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(model => model.Detay, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Detay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Gorsel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.EditorFor(model => model.Gorsel, new { htmlAttributes = new { @class = "form-control", placeholder = "Görsel" } })
                        @Html.ValidationMessageFor(model => model.Gorsel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EkAlan1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.EditorFor(model => model.EkAlan1, new { htmlAttributes = new { @class = "form-control", placeholder = "Ek Alan-1" } })
                        @Html.ValidationMessageFor(model => model.EkAlan1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EkAlan2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.EditorFor(model => model.EkAlan2, new { htmlAttributes = new { @class = "form-control", placeholder = "Ek Alan-2" } })
                        @Html.ValidationMessageFor(model => model.EkAlan2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Etkin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.EditorFor(model => model.Etkin, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
                        <input type="submit" value="Onayla" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/Areas/Yonetici/Assets/js/tinymce/tinymce.min.js"></script>
    <script src="~/Areas/Yonetici/Assets/pages/wysiwyg-editor/wysiwyg-editor.js"></script>
}

